@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    background-color: #111112;
    color: white;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    1% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

#logo {
    animation: rotate 55s linear infinite;
    animation-delay: 3s;
    border: 1px solid white;
    border-radius: 900px;
}